extends _inc


block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Giới thiệu

  section.page-detail
    
    .container
      .left
        .category
          h4
            | danh mục sản phẩm
            i.mdi.mdi-arrow-left.d-lg-none.d-block
          ul
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436
                
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436
                
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436
                
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
                  .new Mới
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436
                
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436
      
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436
                
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            


          h5.show-cate
            | Hiện đầy đủ danh mục
            i.mdi.mdi-plus
          h5.hidden-cate.d-none
            | Ẩn bớt danh mục
            i.mdi.mdi-minus
        
      .main-detail
        .search
          form(action="")
            select
              option(value="") Chọn danh mục              
              option(value="") Chọn danh mục
              option(value="") Chọn danh mục
              option(value="") Chọn danh mục
              option(value="") Chọn danh mục
            input(type='text', placeholder='Nhập từ khóa . . .')
            button(type='submit')
              i.mdi.mdi-magnify

        h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, ex.
        h5
          i.mdi.mdi-clock
          | 29/03/2019
        h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit est unde modi omnis autem facere nulla provident earum error deleniti!
        img(src='../img/construction-1.png')

        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
        img(src='../img/product-1.png')
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, temporibus ullam! Blanditiis nihil sint ab et repudiandae ipsa, sed maiores earum? Id nostrum libero tempora a delectus sed at quis.
        
        .similar
          .title-page
            h2 CÔng trình liên quan
          
        .construction-zone
          .box-construction
            .box-construction-img
              .date
                h6 28
                h6 Th03
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
            .box-construction-detail
              h4 
                a(href='chi-tiet-cong-trinh.html')
                  | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              .box-construction-detail-btn
                a(href='chi-tiet-cong-trinh.html') xem thêm
          
          .box-construction
            .box-construction-img
              .date
                h6 28
                h6 Th03
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
            .box-construction-detail
              h4 
                a(href='chi-tiet-cong-trinh.html')
                  | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              .box-construction-detail-btn
                a(href='chi-tiet-cong-trinh.html') xem thêm
          
          .box-construction
            .box-construction-img
              .date
                h6 28
                h6 Th03
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
            .box-construction-detail
              h4 
                a(href='chi-tiet-cong-trinh.html')
                  | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              .box-construction-detail-btn
                a(href='chi-tiet-cong-trinh.html') xem thêm
          
          .box-construction
            .box-construction-img
              .date
                h6 28
                h6 Th03
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
            .box-construction-detail
              h4 
                a(href='chi-tiet-cong-trinh.html')
                  | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              .box-construction-detail-btn
                a(href='chi-tiet-cong-trinh.html') xem thêm
          
          .box-construction
            .box-construction-img
              .date
                h6 28
                h6 Th03
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
            .box-construction-detail
              h4 
                a(href='chi-tiet-cong-trinh.html')
                  | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              .box-construction-detail-btn
                a(href='chi-tiet-cong-trinh.html') xem thêm
          
          .box-construction
            .box-construction-img
              .date
                h6 28
                h6 Th03
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
            .box-construction-detail
              h4 
                a(href='chi-tiet-cong-trinh.html')
                  | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              .box-construction-detail-btn
                a(href='chi-tiet-cong-trinh.html') xem thêm
          
          .box-construction
            .box-construction-img
              .date
                h6 28
                h6 Th03
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
            .box-construction-detail
              h4 
                a(href='chi-tiet-cong-trinh.html')
                  | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              .box-construction-detail-btn
                a(href='chi-tiet-cong-trinh.html') xem thêm
          
          .box-construction
            .box-construction-img
              .date
                h6 28
                h6 Th03
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
            .box-construction-detail
              h4 
                a(href='chi-tiet-cong-trinh.html')
                  | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              .box-construction-detail-btn
                a(href='chi-tiet-cong-trinh.html') xem thêm
          
          .box-construction
            .box-construction-img
              .date
                h6 28
                h6 Th03
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
            .box-construction-detail
              h4 
                a(href='chi-tiet-cong-trinh.html')
                  | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              .box-construction-detail-btn
                a(href='chi-tiet-cong-trinh.html') xem thêm
          
          .box-construction
            .box-construction-img
              .date
                h6 28
                h6 Th03
              a(href='chi-tiet-cong-trinh.html')
                img(src='../img/construction-1.png')
            .box-construction-detail
              h4 
                a(href='chi-tiet-cong-trinh.html')
                  | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
              .box-construction-detail-btn
                a(href='chi-tiet-cong-trinh.html') xem thêm
