extends _inc

block article
  section.article-top
    .container
      .category
        h4.d-lg-none.d-block
          | danh mục sản phẩm
          i.mdi.mdi-arrow-left
        ul
          li
            a.nav-link(href='san-pham.html') 
              span Thảm trang trí
                .new mới

          li
            a.nav-link(href='san-pham.html') 
             span Thảm công trình dự án
            i.mdi.mdi-chevron-down

            ul
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 345
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3456
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 4564
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3436
              
          li
            a.nav-link(href='san-pham.html') 
              span Thảm trang trí
                .new mới

          li
            a.nav-link(href='san-pham.html') 
             span Thảm công trình dự án
            i.mdi.mdi-chevron-down

            ul
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 345
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3456
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 4564
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3436

          li
            a.nav-link(href='san-pham.html') 
             span Thảm công trình dự án
            i.mdi.mdi-chevron-down

            ul
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 345
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3456
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 4564
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3436
              
          li
            a.nav-link(href='san-pham.html') 
              span Thảm trang trí
                .new mới

          li
            a.nav-link(href='san-pham.html') 
             span Thảm công trình dự án
            i.mdi.mdi-chevron-down

            ul
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 345
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3456
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 4564
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3436
              
          li
            a.nav-link(href='san-pham.html') 
              span Thảm trang trí
                .new mới

          li
            a.nav-link(href='san-pham.html') 
             span Thảm công trình dự án
              .new Mới
            i.mdi.mdi-chevron-down

            ul
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 345
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3456
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 4564
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3436
              
          li
            a.nav-link(href='san-pham.html') 
              span Thảm trang trí

          li
            a.nav-link(href='san-pham.html') 
             span Thảm công trình dự án
            i.mdi.mdi-chevron-down

            ul
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 345
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3456
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 4564
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3436
    
          li
            a.nav-link(href='san-pham.html') 
              span Thảm trang trí
                .new mới

          li
            a.nav-link(href='san-pham.html') 
             span Thảm công trình dự án
            i.mdi.mdi-chevron-down

            ul
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 345
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3456
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 4564
              li
                a(href='san-pham.html') 
                  | Thảm công trình dự án 3436
              
          li
            a.nav-link(href='san-pham.html') 
              span Thảm trang trí
                .new mới

          li
            a.nav-link(href='san-pham.html') 
              span Thảm trang trí
                .new mới

          li
            a.nav-link(href='san-pham.html') 
              span Thảm trang trí
                .new mới

          li
            a.nav-link(href='san-pham.html') 
              span Thảm trang trí
                .new mới

          li
            a.nav-link(href='san-pham.html') 
              span Thảm trang trí
                .new mới

          


        h5.show-cate
          | Hiện đầy đủ danh mục
          i.mdi.mdi-plus
        h5.hidden-cate.d-none
          | Ẩn bớt danh mục
          i.mdi.mdi-minus
      
      .right-top
        .search
          form(action="")
            select
              option(value="") Chọn danh mục              
              option(value="") Chọn danh mục
              option(value="") Chọn danh mục
              option(value="") Chọn danh mục
              option(value="") Chọn danh mục
            input(type='text', placeholder='Nhập từ khóa . . .')
            button(type='submit')
              i.mdi.mdi-magnify

        .slider
          .owl-carousel.slider-carousel.owl-theme
            .item
              a(href='chi-tiet-san-pham.html')
                img(src='../img/slider-1.png')
            
            .item
              a(href='chi-tiet-san-pham.html')
                img(src='../img/slider-1.png')

        .service.d-none.d-xl-block
          .row
            .col-md-4 
              .box-service
                img(src='../img/service-1.png')
                .box-service-detail
                  h4 VẬN CHUYỂN MIỄN PHÍ
                  h6 Áp dụng tất cả sản phẩm
            .col-md-4 
              .box-service
                img(src='../img/service-2.png')
                .box-service-detail
                  h4 HOÀN TIỀN 30 NGÀY
                  h6 Nếu sản phẩm có lỗi
            .col-md-4 
              .box-service
                img(src='../img/service-3.png')
                .box-service-detail
                  h4 HỖ TRỢ TRỰC TUYẾn
                  h6 8h - 21h tất cả các ngày

  section.product
    .container
      .title-page
        h1 
          a sản phẩm bán chạy
      .swiper-container.swiper-seller
        .swiper-wrapper
          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-1.png')
                  img.hidden(src='../img/product-2.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-2.png')
                  img.hidden(src='../img/product-1.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-1.png')
                  img.hidden(src='../img/product-2.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-2.png')
                  img.hidden(src='../img/product-1.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-1.png')
                  img.hidden(src='../img/product-2.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-1.png')
                  img.hidden(src='../img/product-2.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-1.png')
                  img.hidden(src='../img/product-2.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-2.png')
                  img.hidden(src='../img/product-1.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-1.png')
                  img.hidden(src='../img/product-2.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          

      .swiper-btn
        .swiper-button-next.seller
        .swiper-button-prev.seller

  section.order
    .container
      .row
        .col-lg-8
          h3.mb-3 BẠN ĐANG CÓ NHU CẦU GIẶT THẢM NHƯNG KHÔNG BIẾT CHỖ NÀO UY TÍN?
          h1.mb-3
            b HÃY LIÊN HỆ NGAY VỚI QUỐC MINH
          h4 Chúng tôi cung cấp dịch vụ giặt thảm chuyên nghiệp và nhanh chóng nhất.
        .col-lg-4.text-left.text-lg-right
          .order-btn
            a(href='lien-he.html') LIÊN HỆ VỚI CHÚNG TÔI

  section.product
    .container
      .title-page
        h1 
          a sản phẩm nổi bật
      .swiper-container.swiper-hot
        .swiper-wrapper
          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-1.png')
                  img.hidden(src='../img/product-2.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-2.png')
                  img.hidden(src='../img/product-1.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-1.png')
                  img.hidden(src='../img/product-2.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-2.png')
                  img.hidden(src='../img/product-1.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-1.png')
                  img.hidden(src='../img/product-2.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-1.png')
                  img.hidden(src='../img/product-2.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-1.png')
                  img.hidden(src='../img/product-2.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-2.png')
                  img.hidden(src='../img/product-1.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          .swiper-slide 
            .box-product
              .box-product-img
                span mới
                a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                  i.mdi.mdi-eye-plus-outline
                a(href='chi-tiet-san-pham.html')
                  img.show(src='../img/product-1.png')
                  img.hidden(src='../img/product-2.png')
              .box-product-detail
                h6 Thảm tấm Mỹ Miliken
                h5 
                  a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                    | Thảm Tấm Mỹ Miliken M 194

          

      .swiper-btn
        .swiper-button-next.hot
        .swiper-button-prev.hot
  
  section.partner
    .container
      .box-partner
        .owl-carousel.partner-carousel.owl-theme
          .item
            img(src='../img/partner-1.png')
          .item
            img(src='../img/partner-1.png')
          .item
            img(src='../img/partner-1.png')
          .item
            img(src='../img/partner-1.png')
          .item
            img(src='../img/partner-1.png')
          .item
            img(src='../img/partner-1.png')
          
  section.construction
    .container
      .title-page
        h1 
          a công trình đã thực hiện
      .swiper-container.swiper-construction
        .swiper-wrapper
          .swiper-slide 
            .box-construction
              .box-construction-img
                .date
                  h6 28
                  h6 Th03
                a(href='chi-tiet-cong-trinh.html')
                  img(src='../img/construction-1.png')
              .box-construction-detail
                h4 
                  a(href='chi-tiet-cong-trinh.html')
                    | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
                h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
                .box-construction-detail-btn
                  a(href='chi-tiet-cong-trinh.html') xem thêm

          .swiper-slide 
            .box-construction
              .box-construction-img
                .date
                  h6 28
                  h6 Th03
                a(href='chi-tiet-cong-trinh.html')
                  img(src='../img/construction-1.png')
              .box-construction-detail
                h4 
                  a(href='chi-tiet-cong-trinh.html')
                    | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
                h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
                .box-construction-detail-btn
                  a(href='chi-tiet-cong-trinh.html') xem thêm
          
          .swiper-slide 
            .box-construction
              .box-construction-img
                .date
                  h6 28
                  h6 Th03
                a(href='chi-tiet-cong-trinh.html')
                  img(src='../img/construction-1.png')
              .box-construction-detail
                h4 
                  a(href='chi-tiet-cong-trinh.html')
                    | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
                h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
                .box-construction-detail-btn
                  a(href='chi-tiet-cong-trinh.html') xem thêm
          
          .swiper-slide 
            .box-construction
              .box-construction-img
                .date
                  h6 28
                  h6 Th03
                a(href='chi-tiet-cong-trinh.html')
                  img(src='../img/construction-1.png')
              .box-construction-detail
                h4 
                  a(href='chi-tiet-cong-trinh.html')
                    | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
                h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
                .box-construction-detail-btn
                  a(href='chi-tiet-cong-trinh.html') xem thêm
          
          .swiper-slide 
            .box-construction
              .box-construction-img
                .date
                  h6 28
                  h6 Th03
                a(href='chi-tiet-cong-trinh.html')
                  img(src='../img/construction-1.png')
              .box-construction-detail
                h4 
                  a(href='chi-tiet-cong-trinh.html')
                    | Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
                h5 Phasellus dinissim, tellus in pellentesque mollis, mauris orci dignissim nisl, id gravida nunc enim quis
                .box-construction-detail-btn
                  a(href='chi-tiet-cong-trinh.html') xem thêm
          
           
      .swiper-btn
        .swiper-button-next.construction
        .swiper-button-prev.construction
  
  section.category-bottom
    .container
      .title-page
        h1 
          a danh mục sản phẩm
      .swiper-container.swiper-category-bottom
        .swiper-wrapper
          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/cate-1.png')
                h3 Thảm Mỹ Thuật Thổ

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-1.png')
                h3 Thảm tấm
          
          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-2.png')
                h3 Thảm Văn Phòng

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/cate-1.png')
                h3 Thảm Mỹ Thuật Thổ

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-1.png')
                h3 Thảm tấm
          
          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-2.png')
                h3 Thảm Văn Phòng

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/cate-1.png')
                h3 Thảm Mỹ Thuật Thổ

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-1.png')
                h3 Thảm tấm
          
          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-2.png')
                h3 Thảm Văn Phòng

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/cate-1.png')
                h3 Thảm Mỹ Thuật Thổ

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-1.png')
                h3 Thảm tấm
          
          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-2.png')
                h3 Thảm Văn Phòng

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/cate-1.png')
                h3 Thảm Mỹ Thuật Thổ

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-1.png')
                h3 Thảm tấm
          
          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-2.png')
                h3 Thảm Văn Phòng

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/cate-1.png')
                h3 Thảm Mỹ Thuật Thổ

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-1.png')
                h3 Thảm tấm
          
          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-2.png')
                h3 Thảm Văn Phòng

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/cate-1.png')
                h3 Thảm Mỹ Thuật Thổ

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-1.png')
                h3 Thảm tấm
          
          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-2.png')
                h3 Thảm Văn Phòng

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/cate-1.png')
                h3 Thảm Mỹ Thuật Thổ

          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-1.png')
                h3 Thảm tấm
          
          .swiper-slide 
            .box-category-bottom
              a(href='san-pham.html')
                img(src='../img/product-2.png')
                h3 Thảm Văn Phòng

          
          

      .swiper-btn
        .swiper-button-next.category-bottom
        .swiper-button-prev.category-bottom
