extends _inc


block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Liên hệ

  section.contact-page
    .search.d-block.d-lg-none
      form(action="")
        select
          option(value="") Chọn danh mục              
          option(value="") Chọn danh mục
          option(value="") Chọn danh mục
          option(value="") Chọn danh mục
          option(value="") Chọn danh mục
        input(type='text', placeholder='Nhập từ khóa . . .')
        button(type='submit')
          i.mdi.mdi-magnify

    .category.d-block.d-lg-none
      h4
        | danh mục sản phẩm
        i.mdi.mdi-arrow-left.d-lg-none.d-block
      ul
        li
          a.nav-link(href='san-pham.html') 
            span Thảm trang trí
              .new mới

        li
          a.nav-link(href='san-pham.html') 
            span Thảm công trình dự án
          i.mdi.mdi-chevron-down

          ul
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 345
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3456
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 4564
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3436
            
        li
          a.nav-link(href='san-pham.html') 
            span Thảm trang trí
              .new mới

        li
          a.nav-link(href='san-pham.html') 
            span Thảm công trình dự án
          i.mdi.mdi-chevron-down

          ul
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 345
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3456
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 4564
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3436

        li
          a.nav-link(href='san-pham.html') 
            span Thảm công trình dự án
          i.mdi.mdi-chevron-down

          ul
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 345
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3456
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 4564
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3436
            
        li
          a.nav-link(href='san-pham.html') 
            span Thảm trang trí
              .new mới

        li
          a.nav-link(href='san-pham.html') 
            span Thảm công trình dự án
          i.mdi.mdi-chevron-down

          ul
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 345
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3456
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 4564
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3436
            
        li
          a.nav-link(href='san-pham.html') 
            span Thảm trang trí
              .new mới

        li
          a.nav-link(href='san-pham.html') 
            span Thảm công trình dự án
              .new Mới
          i.mdi.mdi-chevron-down

          ul
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 345
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3456
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 4564
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3436
            
        li
          a.nav-link(href='san-pham.html') 
            span Thảm trang trí

        li
          a.nav-link(href='san-pham.html') 
            span Thảm công trình dự án
          i.mdi.mdi-chevron-down

          ul
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 345
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3456
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 4564
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3436
  
        li
          a.nav-link(href='san-pham.html') 
            span Thảm trang trí
              .new mới

        li
          a.nav-link(href='san-pham.html') 
            span Thảm công trình dự án
          i.mdi.mdi-chevron-down

          ul
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 345
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3456
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 4564
            li
              a(href='san-pham.html') 
                | Thảm công trình dự án 3436
            
        li
          a.nav-link(href='san-pham.html') 
            span Thảm trang trí
              .new mới

        li
          a.nav-link(href='san-pham.html') 
            span Thảm trang trí
              .new mới

        li
          a.nav-link(href='san-pham.html') 
            span Thảm trang trí
              .new mới

        li
          a.nav-link(href='san-pham.html') 
            span Thảm trang trí
              .new mới

        li
          a.nav-link(href='san-pham.html') 
            span Thảm trang trí
              .new mới

        


      h5.show-cate
        | Hiện đầy đủ danh mục
        i.mdi.mdi-plus
      h5.hidden-cate.d-none
        | Ẩn bớt danh mục
        i.mdi.mdi-minus
    

    .container
      .row
        .col-lg-8
          .box-contact
            form(action='')
              .row
                .col-md-6
                  .form-group
                    label(for='form-name') Họ tên:
                    input#form-name.form-control(type='text', name='name', placeholder='Nhập họ tên')
                .col-md-6
                  .form-group
                    label(for='form-phone') Số điện thoại:
                    input#form-phone.form-control(type='tel', name='phone', placeholder='Nhập số điện thoại')
                .col-md-6
                  .form-group
                    label(for='form-email') Email:
                    input#form-email.form-control(type='email', name='email', placeholder='Nhập Email')
                .col-md-6
                  .form-group
                    label(for='form-title') Tiêu đề:
                    input#form-title.form-control(type='text', name='title', placeholder='Nhập tiêu đề')
                .col-md-12
                  .form-group
                    label(for='form-content') Lời nhắn:
                    textarea#form-content.form-control(name='content', placeholder='Nhập lời nhắn')
              button.btn.btn-primary(type='submit')
                a gửi liên hệ
        .col-lg-4
          .map
            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.2980514850788!2d105.84684631533214!3d21.02075699342641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab925da71539%3A0xa19326517076624b!2zMTMgTmfDtCBWxINuIFPhu58sIFRy4bqnbiBIxrBuZyDEkOG6oW8sIEhvw6BuIEtp4bq_bSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1553828555666!5m2!1svi!2s', width='100%', height='430', frameborder='0', style='border:0', allowfullscreen='')

