extends _inc

block article
  section.bread-crumb
    .container
      .bc-icons
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='index.html') Trang chủ
            li.breadcrumb-item.active Máy vệ sinh công nghiệp

  section.product-page
    .container
      .left
        .category
          h4
            | danh mục sản phẩm
            i.mdi.mdi-arrow-left.d-lg-none.d-block
          ul
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436
                
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436
                
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436
                
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
                  .new Mới
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436
                
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436
      
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm công trình dự án
              i.mdi.mdi-chevron-down

              ul
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 345
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3456
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 4564
                li
                  a(href='san-pham.html') 
                    | Thảm công trình dự án 3436
                
            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            li
              a.nav-link(href='san-pham.html') 
                span Thảm trang trí
                  .new mới

            


          h5.show-cate
            | Hiện đầy đủ danh mục
            i.mdi.mdi-plus
          h5.hidden-cate.d-none
            | Ẩn bớt danh mục
            i.mdi.mdi-minus
        
        .filter-color
          

      .main
        .search
          form(action="")
            select
              option(value="") Chọn danh mục              
              option(value="") Chọn danh mục
              option(value="") Chọn danh mục
              option(value="") Chọn danh mục
              option(value="") Chọn danh mục
            input(type='text', placeholder='Nhập từ khóa . . .')
            button(type='submit')
              i.mdi.mdi-magnify

        .title-page
          h3 Máy vệ sinh công nghiệp
        
        .main-zone
          .box-product
            .box-product-img
              span mới
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img.show(src='../img/product-1.png')
                img.hidden(src='../img/product-2.png')
            .box-product-detail
              h6 Thảm tấm Mỹ Miliken
              h5 
                a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                  | Thảm Tấm Mỹ Miliken M 194

          .box-product
            .box-product-img
              span mới
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img.show(src='../img/product-1.png')
                img.hidden(src='../img/product-2.png')
            .box-product-detail
              h6 Thảm tấm Mỹ Miliken
              h5 
                a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                  | Thảm Tấm Mỹ Miliken M 194
          
          .box-product
            .box-product-img
              span mới
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img.show(src='../img/product-1.png')
                img.hidden(src='../img/product-2.png')
            .box-product-detail
              h6 Thảm tấm Mỹ Miliken
              h5 
                a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                  | Thảm Tấm Mỹ Miliken M 194
          
          .box-product
            .box-product-img
              span mới
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img.show(src='../img/product-1.png')
                img.hidden(src='../img/product-2.png')
            .box-product-detail
              h6 Thảm tấm Mỹ Miliken
              h5 
                a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                  | Thảm Tấm Mỹ Miliken M 194
          
          .box-product
            .box-product-img
              span mới
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img.show(src='../img/product-1.png')
                img.hidden(src='../img/product-2.png')
            .box-product-detail
              h6 Thảm tấm Mỹ Miliken
              h5 
                a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                  | Thảm Tấm Mỹ Miliken M 194
          
          .box-product
            .box-product-img
              span mới
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img.show(src='../img/product-1.png')
                img.hidden(src='../img/product-2.png')
            .box-product-detail
              h6 Thảm tấm Mỹ Miliken
              h5 
                a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                  | Thảm Tấm Mỹ Miliken M 194
          
          .box-product
            .box-product-img
              span mới
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img.show(src='../img/product-1.png')
                img.hidden(src='../img/product-2.png')
            .box-product-detail
              h6 Thảm tấm Mỹ Miliken
              h5 
                a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                  | Thảm Tấm Mỹ Miliken M 194
          
          .box-product
            .box-product-img
              span mới
              a.custom-quickview(data-toggle="modal" data-target=".product-modal-1", href='#')
                i.mdi.mdi-eye-plus-outline
              a(href='chi-tiet-san-pham.html')
                img.show(src='../img/product-1.png')
                img.hidden(src='../img/product-2.png')
            .box-product-detail
              h6 Thảm tấm Mỹ Miliken
              h5 
                a(href='chi-tiet-san-pham.html', title='Thảm Tấm Mỹ Miliken M 194')
                  | Thảm Tấm Mỹ Miliken M 194
          

        .main-paging
          nav
            ul.pagination.justify-content-end
              li.page-item
                a.page-link(href='#', aria-label='Previous')
                  span(aria-hidden='true') «
                  span.sr-only Previous
              li.page-item
                a.page-link.active(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#', aria-label='Next')
                  span(aria-hidden='true') »
                  span.sr-only Next 
